.list-users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.list-users--empty {
  margin: 2rem auto;
  color: blueviolet;
  width: 50%;
  max-width: 40rem;
  padding: 1em;
  text-align: center;
  font-weight: bold;
}